body{
    margin:0;
    background:#083d4a;
    overflow:hidden;
    font-family:Arial;
}

canvas{
    display:block;
}

.display{
    position:absolute;
    top:20px;
    right:20px;
    background:black;
    color:#00ffcc;
    padding:15px 25px;
    font-size:28px;
    border-radius:8px;
    box-shadow:0 0 15px #00ffcc;
}
